<div class="max-w-lg mx-auto">
  <h2 class="my-5 text-lg">
    Edit Option Value
  </h2>
  <%= form_with(model: @option_value, url: admin_option_value_path(@option_value)) do |form| %>
    <%= form.hidden_field :option_type_id, value: @option_value.option_type.id %>
    <div class="py-5 px-7 space-y-5 bg-gray-200 border-md rounded-md">
    <%= form.fields_for :option_value do |option_value_form| %>
      <div>
        <%= form.label :value %>
        <%= form.text_field :value, class: "border border-gray-400 p-2 rounded" %>
      </div>
    <% end %>
      <div class="flex justify-end">
        <%= form.submit "Save", class: "px-6 py-2 bg-blue-500 text-white" %>
      </div>
    </div>
  <% end %>
</div>
