<div class="max-w-lg mx-auto">
  <h2 class="my-5 text-lg">
    Product List
    <%= link_to "Add Product", new_admin_product_path, class: "px-6 py-2 bg-blue-500 text-white" %>
  </h2>
  <table class="w-full border-collapse">
    <thead>
      <tr>
        <th class="border p-2">Name</th>
        <th class="border p-2">Price</th>
        <th class="border p-2">Quantity</th>
        <th class="border p-2">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="border p-2"><%= product.name %></td>
          <td class="border p-2">$<%= number_with_precision(product.price, precision: 2) %></td>
          <td class="border p-2"><%= product.quantity %></td>
          <td class="border p-2"><%= product.is_out_of_stock ? 'Out of Stock' : 'Available' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
