<div class="max-w-lg mx-auto">
  <h2 class="my-5 text-lg">
    New Product
  </h2>
  <%= form_with(model: @product, url: admin_products_path, local: true) do |form| %>
    <div class="py-5 px-7 space-y-5 bg-gray-200 border-md rounded-md">
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: "border border-gray-400 p-2 rounded" %>
      </div>
      <div>
        <%= form.label :description %>
        <%= form.text_area :description, class: "border border-gray-400 p-2 rounded" %>
      </div>
      <p class="my-5 font-bold"><%= form.label :"Select option type:"%></p>
      <div class="flex space-x-5">
        <% @option_types.each do |option_type| %>
          <div>
            <%= form.label option_type.name %>
            <%= form.check_box :option_type_ids, { multiple: true }, option_type.id, nil %>
          </div>
        <% end %>
      </div>
      <div class="flex justify-end">
        <%= form.submit "Create", class: "px-6 py-2 bg-blue-500 text-white" %>
      </div>
    </div>
  <% end %>
</div>
